/*Global*/
$color-light: #f5f6fa;
$color-main: #f1c40f;
$color-background: #dfe6e9;
$color-subtitle: #718093;
$color-hover: #ffeaa7;

*, *::before, *::after {
        box-sizing: border-box;
}
body {
  margin: 0 auto;
}
/*header*/
header
{
  background-image: url("https://images.pexels.com/photos/1558691/pexels-photo-1558691.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  height: 500px;
  .container {
    display: flex;
    justify-content: space-between;
    text-align: right;
 }
}
.header{
  text-align: left;
  padding-top: 5px;
  color: $color-main;
  font-size: 20px;
}
.navbar-nav
{
  display:flex;
  padding-top: 13px;
  list-style-type: none;
   a
  {
    text-decoration: none;
    color: $color-main;
    padding:10px;
    font-weight: bold;
  }
   a:hover
  {
    background: $color-hover;
  }
}
.splash-inner {
  text-align: center;
  padding: 20px;
}
.title {
  padding: 20px;
  margin: 20px;
}
.button {
  position: relative;
  background-color:$color-main;
  border: none;
  font-size: 20px;
  color: $color-light;
  padding: 20px;
  margin-top: 20px;
  width: 200px;
  text-align: center;
  text-decoration: none;
}
/*info*/
.info {
  margin: 30px;
}
.info-title {
  padding: 30px;
  text-align: center;
  font-size: 40px;
}
.info-subtitle {
  text-align: center;
  font-size: 15px;
  color: $color-subtitle;
}
.box-body {
  text-align: center;
}
.fas {
  color: $color-main;
  padding: 10px;
  border-radius: 50px;
  border: 2px solid $color-main;
  background: $color-light;
}
/*Portfolio*/
.portfolio {
  background: $color-background;
  padding-bottom: 20px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.card
  {
  background: $color-light;
  border: 1px solid rgba(0,0,0,.125);
  padding-right: 0;
  padding-left: 0;
  margin: 10px;
    img
   {
    height: auto;
    max-width: 100%;
    object-fit: cover;
   }
}
.card-body {
  background: $color-light;
  text-align: center;
  margin: 15px;
}
.card-title {
  font-size: 20px;
  margin: 0;
  padding:0;
}
 .card-text {
   margin: 0;
   padding: 0;
 }
 /*footer*/
footer {
  margin-top: 10px;
  margin-bottom: 10px;
    .a {
      color: $color-light;
    }
    .fab {
      background: black;
      background: black;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      color: $color-light;
      font-size: 20px;
      margin: 0 auto;
      text-align: center;
      line-height: 1.5;
    }
}
.p {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-list
 {
   padding: 0;
   display: flex;
   list-style-type: none;
    a
    {
      color: $color-light;
      font-size:2px;
    }
}
 @media (max-width: 768px) {
.navbar {
  display: flex;
  justify-content: flex-end;
}
 .navbar-nav {
   flex-wrap: wrap;
   max-width: 200px;
 }
  .header {
    padding-top: 20px;
   }
 }
 @media (min-width: 576px) {

.card img {
  height: 250px;
  max-width: 100%;
}
}
